@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Fonts";
  src: url("./fonts/Roboto-Black.ttf") format("truetype");
  src: url("./fonts/Roboto-BlackItalic.ttf") format("truetype");
  src: url("./fonts/Roboto-Bold.ttf") format("truetype");
  src: url("./fonts/Roboto-BoldItalic.ttf") format("truetype");
  src: url("./fonts/Roboto-Italic.ttf") format("truetype");
  src: url("./fonts/Roboto-Light.ttf") format("truetype");
  src: url("./fonts/Roboto-LightItalic.ttf") format("truetype");
  src: url("./fonts/Roboto-Medium.ttf") format("truetype");
  src: url("./fonts/Roboto-MediumItalic.ttf") format("truetype");
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
  src: url("./fonts/Roboto-Thin.ttf") format("truetype");
  src: url("./fonts/Roboto-ThinItalic.ttf") format("truetype");
  font-weight: bold;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: rgba(252, 252, 248, 0.4); */
  background-image: url("./pictures/logo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  /* background-color: rgb(17, 24, 39); */
  background: transparent;
}

footer {
  background: transparent;
}
